/**手机适配**/
@media only screen and (max-width: 767px) {
    header{width:100%}
    .banner{width: 100%;height: 100px;}
    .avatar{width: 80px;height: 80px;margin: 6px;}
    .avatar a{padding-top: 59px;width: 80px;height: 80px;background-size: 80px 78px;}
    .avatar a span{margin-top: 0px; padding-top: 0px; width: auto;height: auto;}
 .bloglist h3 {margin: 20px 0 10px 10px;}
 .bloglist figure {width:auto;margin-left: 4px;}
 .bloglist figure img {width: 90px;height: 60px;}
 .bloglist ul{width:64%}
 .dateview {width:100%;padding-left:4px;}
 .dateview span {margin: 0 3px;}
 .weixinnone,.thumbs{display: none}
 .right{width: 100%;margin-top: 22px}
 .right ul{width:64%;margin-left: 22px;}
 .weather{margin: 20px 50px;}
 .bloglinkli{display: block}
 footer{width:100%}
 }
body
{
    background:  -webkit-repeating-linear-gradient(-45deg,#00FFFF,#3366FF,#3333FF,#CCFF00,#FF9900);
    height: 100vh;
    background-size: 400%;
    padding: 0 20px 20px 20px;
    border: 5px solid #fff;
}/*主体部分*/
h1
{
    color: #99FFFF;
    text-align: center;
}
h2
{
    text-align: right;
    text-decoration: line-through;
    font-style: italic;
}
.main .card
{
    border: 2px solid #FFCC33;
    background-color: #fff;
    box-shadow: 0 0 15px 10px #fff; 
    border-radius: 5px;
    width: 500px;
    height: 450px;
    font-size: 20px;
    color: #fff;
}

.main .heise
{
    color: black;
}
.main .jieshao
{
    height: 60px;
    color: #f35626;
    background: coral;
    background-image: -webkit-linear-gradient(45deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 6s infinite linear;
    font-size: 19px;
}
@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }

}
.main .ha
{
    color: black;
}